body{
    height: 100vh;
    font-family: 'Oxygen', sans-serif;
    margin: 0;
    padding: 0;
}
*,
*:after,
*:before {
  @include box-sizing(inherit);
}

html{
    @include box-sizing(border-box);
    height: 100%;
}
h1,h2,h4,h5,h6{
    margin: 0;
}

.main-content{
    display: flex;
    flex-direction: column;
  
  
}
.child-content{
    display: flex;
    flex:1;
    
}
.content{
    display: flex;
    background-color: rgb(15, 28, 48);
    color:$white;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}

ul{
    padding: 0;
    list-style: none;
}
.input{
    height:50px;
    width: 70%;
    border-radius: 10px;
}

.icons{
    width: 64px;
    height:64px;
}