header{
    display: flex;
    flex:1;
  
    height: 500px; 
    nav{
       .errors{
           position: absolute;
           right:30px;
           top:50px;
           padding-top:.2rem;
       }
        margin-top:1rem;
        position: relative;
        .search-box{
 
            height:40px;
            border-radius: 40px;
            background: #2f3640;
            position: absolute;
            right:30px;
            top:10px;   
            padding: 5px;
            &:hover > .search-text{
                width: 240px;
                padding: 0 6px;
            }    
             &:hover > .search-btn{
                 background: $white;
             }
          
            display: flex;
            .search-text{
                border:none;
                background: none;
                outline: none;
            
                color: $white;
                font-size: 16px;
                transition: all 0.4s ease-in-out;
                line-height: 40px;
                width: 0px;
                float: left;
               
            }
            .search-btn{
                float: right;
                color: #e84118;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background: #2f3640;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
        }
      
    }
    .loader_parent{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
        flex-direction: column;
        .weather_loader{
            margin-bottom: 30px;
        }
        .loader-text{
            font-size: 20px;
            color: blanchedalmond;
        }
    }
     .weather{
         display: flex;
         justify-content: center;
         margin-top: 110px;
        .weather-header{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-width:300px;
            max-width: 400px;
            .city{
               font-size: 30px;
               margin-bottom:1rem;
               font-weight: 700;
               text-align: center;
            }
            .header-hilo{
                margin-top:.5rem;
                > span{
                    &::after{
                        content:"\00B0";
                      }
                }
           
            }
            .temp-icon{
                display: flex;
                .temp{
                  font-size:60px;
                  margin-left:.5rem;
                  font-weight: 300;
                  &::after{
                      content: "\2109";
                  }
                }
                .weather-icon{
                    img{
                        width: 125px;
                    }
                }
            }
            .summary{
                font-size: 25px;
            }
           
           
           
              
          }

     }


 

}

.sub-header{
    background-color: rgb(3, 25, 53);
    transition: all 0.5s ease-in-out;
    height: 100%;
    color: $white;
    // &:hover{
    //     height: 500px;

    // }
   
   padding: .5rem 0;
   .image-icon{
       height: 40px;
       width: 40px;
       display: flex;
       align-items: center;
       justify-content: center;
   }
  .sub-container{
  
    max-width: 800px;
    margin: 0 auto;
    
  }
  .sub-hour{
    display: flex;
    justify-content: space-around;
    align-items: center;
    .image-icon{
        img{
            width: 25px;
        }
        
    }
    .small-temp{
        text-align: center;
    }
  }
  .sub-details{
   margin-top:30px;
   .sub-info{
       display: flex;
       justify-content: space-around;
       flex-wrap: wrap;
       padding: 1rem;
       .sub-stats{
           display: flex;
           flex-direction: column;
           width: 250px;
       }
   }
   .daily-chart{
       display: flex;
       .avg-temps{
           flex:1;
           text-align: center;
       }
     
    padding: 1rem;
   }
   .sub-forcast{
       text-align: center;
   }
   .display{
    color: $white;
   }
  
    .sub-icons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .time{
            padding: .5rem 0;
            color: $white;
        }
        .small-temp{
            color: $white;
        }

    }
}
}

@media screen and (max-width:500px){
    .sub-header{
      
       
       padding: .5rem 0;
       .image-icon{
           height: 40px;
           width: 40px;
           display: flex;
           align-items: center;
           img{
            width: 30px;
        }
       }
      .sub-container{
      
        max-width: 800px;
        margin: 0 auto;
        
      }
      .sub-hour{
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        .small-temp{
            text-align: center;
        }
      }
      .sub-details{
       margin-top:30px;
       .daily-chart{
           display: flex;
           .avg-temps{
               flex:1;
               text-align: center;
           }
         
        padding: 1rem;
       }
       .sub-forcast{
           padding: 0 1rem;
       }
       .display{
        color: $white;
       }
      
        .sub-icons{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .time{
               
                color: #000000;
                font-size:12px;
            }
            .small-temp{
                color: $white;
            }
    
        }
    }
    }
}