header{
    display: flex;
    flex:1;
  
    height: 500px; 
    nav{
        display: flex;
        justify-content: flex-end;
        margin-top:1rem;
        .search-box{

            height: 40px;
            border-radius: 40px;
            background: #2f3640;
            padding: 10px;
            flex:1
        }
      
    }
    .loader_parent{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
        flex-direction: column;
        .weather_loader{
            margin-bottom: 30px;
        }
        .loader-text{
            font-size: 20px;
            color: blanchedalmond;
        }
    }
     .weather{
         display: flex;
         justify-content: center;
         margin-top: 90px;
        .weather-header{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 300px;
            .city{
               font-size: 30px;
               margin-bottom:1rem;
               font-weight: 700;
            }
            .temp-icon{
                display: flex;
                .temp{
                  font-size:60px;
                  font-weight: 300;
                  &::after{
                      content: "\2109";
                  }
                }
                .weather-icon{
                    img{
                        width: 125px;
                    }
                }
            }
            .summary{
                font-size: 25px;
            }
           
           
           
              
          }

     }


 

}

.sub-header{
    background-color: rgb(37, 96, 173);
   padding: .5rem 0;
   .image-icon{
       height: 40px;
       width: 40px;
       display: flex;
       align-items: center;
   }
  .sub-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
  }
  
    .sub-icons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .time{
            padding: .5rem 0;
            color: $white;
        }
        .small-temp{
            color: $white;
        }

    }
}