body{
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul{
    padding: 0;
    list-style: none;
}