header{
    display: flex;
    background-color: rgb(160, 139, 216);
    align-items: center;
    justify-content: space-between;
    nav{
       li{
           display: inline;
           padding: 0px 2rem;
       } 
    }

}