@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Oxygen:300,700&display=swap");
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #99ddee;
  height: 400px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 1rem;
}

header .weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 90px;
}

header .weather .weather-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
}

header .weather .weather-header .city {
  font-size: 30px;
  margin-bottom: 1rem;
  font-weight: 700;
}

header .weather .weather-header .temp-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .weather .weather-header .temp-icon .temp {
  font-size: 60px;
  font-weight: 300;
}

header .weather .weather-header .temp-icon .temp::after {
  content: "\2109";
}

header .weather .weather-header .temp-icon .weather-icon img {
  width: 125px;
}

header .weather .weather-header .summary {
  font-size: 25px;
}

.sub-header {
  background-color: #2560ad;
  padding: .5rem 0;
}

.sub-header .image-icon {
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sub-header .sub-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.sub-header .sub-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sub-header .sub-icons .time {
  padding: .5rem 0;
  color: #fff;
}

.sub-header .sub-icons .small-temp {
  color: #fff;
}

body {
  height: 100vh;
  font-family: 'Oxygen', sans-serif;
}

*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

h1, h2, h4, h5, h6 {
  margin: 0;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.child-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}

ul {
  padding: 0;
  list-style: none;
}

.input {
  height: 50px;
  width: 70%;
  border-radius: 10px;
}

.icons {
  width: 64px;
  height: 64px;
}

.card {
  background: #020024;
  background: -webkit-gradient(linear, left bottom, left top, from(#020024), color-stop(0%, #005ed8), to(#33d3f8));
  background: linear-gradient(0deg, #020024 0%, #005ed8 0%, #33d3f8 100%);
  padding: 7rem 3rem;
  border-radius: .8rem;
  -webkit-box-shadow: 10px 9px 26px -7px rgba(0, 0, 0, 0.15);
          box-shadow: 10px 9px 26px -7px rgba(0, 0, 0, 0.15);
  min-height: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10rem;
  margin-bottom: 20rem;
}

.card h1, .card h4 {
  margin: 0;
}

.card img {
  width: 80%;
}

.card .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 21rem;
          flex: 0 0 21rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card .card-header .temperture {
  color: #fff;
}

.card .card-header .temperture h1 {
  font-size: 7rem;
}

.card .card-header .temperture h1::after {
  content: "°";
}

.card .card-header .temperture > span {
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.5);
}

.card .card-header .temperture span:nth-last-child(2)::after {
  content: "°";
}

.card .card-header .temperture .location {
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 2.5rem;
  padding: 1.0rem .5rem;
  border-radius: 0.8rem;
  font-size: 1.5rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.card .card-header .temperture .location:hover {
  background-color: rgba(0, 0, 0, 0.15);
  font-size: 1.0rem;
}

.card .card-header .temperture .location span {
  margin-left: .7rem;
}

.card .card-header .weather-logo {
  margin-left: 4rem;
}

.card .day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.5em;
          flex: 0 0 8.5em;
}

.card .day > .report {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card .day > .report .current, .card .day > .report .time {
  text-align: center;
  margin-top: 0.5rem;
}

.card .day > .report .current {
  color: #fff;
  font-size: 1.1rem;
}

.card .day > .report .current span::after {
  content: "°";
}

.card .day > .report .time {
  color: rgba(255, 255, 255, 0.5);
}

.card .day > .report img {
  width: 70%;
}

.card .daily {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 24px;
}

.card .daily img {
  width: 40px;
}

.card .daily .day-line {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.card .daily .day-line .week-day {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  color: #fff;
}

.card .daily .day-line .image {
  padding-right: 2.0rem;
}

.card .daily .day-line .temp-range span:nth-child(1) {
  color: #fff;
}

.card .daily .day-line .temp-range span:nth-child(1)::after {
  content: "°";
}

.card .daily .day-line .temp-range span:nth-child(2) {
  color: #fff;
}

.card .daily .day-line .temp-range span:nth-child(3) {
  color: rgba(255, 255, 255, 0.5);
}

.card .daily .day-line .temp-range span:nth-child(3)::after {
  content: "°";
}

.daily {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.daily .daily-list {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1rem;
}

.daily .weather-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 1rem;
}

.daily .weather-list .small-icon {
  width: 40px;
  margin: .8rem 1.5rem 0 0;
}

.daily .weather-list .weather-list-title {
  text-align: left;
  width: 200px;
}

.daily .weather-list .temp-range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.daily .details {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1rem;
}

.daily .details h1 {
  text-align: center;
  margin-top: .7rem;
}

.daily .details .daily-chart {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}

.daily .details .daily-chart .avg-temps {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.daily .details .daily-chart .avg-temps .degree::after {
  content: "\00B0";
}
/*# sourceMappingURL=main.css.map */